@model SoccerFantasy.Models.PlayersViewModel

@{
    var sharedViewModel = (SoccerFantasy.Models.ViewModels.SharedLayoutViewModel)Context.Items["SharedViewModel"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/lib/flag-icons-main/css/flag-icons.min.css" />

    <style>
        .blue-background {
            background: linear-gradient(to bottom, #40aeff,#7b5fff)
        }

        .white-color {
            color: white; /* Set the background color to white */
        }
        .table-container{
            width : 100%;
            overflow-x: auto;
        }
        .flag-uk {
            background: #fff;
            background: linear-gradient(45deg, #fff 50%, #0074bf 50%);
            background-size: 6px 6px;
        }
    </style>
</head>
<body class="">
    <header class="row blue-background mb-3 container-fluid">
        <h1 class="col white-color">
            Players
        </h1>
        <form asp-action="Players" method="post" class="form-inline">
            <div class="form-group mr-2">
                <label for="teamName" class="mr-2 white-color">Filter by club:</label>
                <select id="teamName" name="teamName" asp-for="teamName" class="form-control">
                    <option value="All Clubs">All Clubs</option>
                    @foreach (var team in sharedViewModel.teamsNames)
                    {
                        <option value="@team">@team</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <input type="text" id="playerName" name="playerName" asp-for="playerName" placeholder="Search for a Player" class="form-control">
            </div>
            
            <button type="submit" class="btn btn-primary">Search</button>
        </form>

    </header>
    <div >
        <table class="table-container">
            <thead style="background-color: gray">
                <tr>
                    <th style="text-align:left">Name</th>
                    <th style="text-align:center">Position</th>
                    <th style="text-align: center">Nationality</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.players.Count != 0)
                {
                    @foreach (var player in Model.players)
                    {
                        <tr>
                            
                            <td style="text-align:left">
                                <div class="row">
                                    @*<img class="col" src="https://resources.premierleague.com/premierleague/photos/players/40x40/Photo-Missing.png" height="40" width="40"/>*@
                                    <p class="col">@player.name</p>
                                </div>
                            </td>
                            <td style="text-align:center">@player.position</td>
                            <td class="row" style="text-align:center">
                                @*<img class="col" src="@player.nationURL" height="118" width="118"/>*@
                                <span class="@player.nationCSS"></span>
                                <p class="col">@player.nationality</p>
                            </td>
                        </tr>
                    }
}
else
{
                        <h1>No Players with this name were found</h1>
}

            </tbody>

        </table>
    </div>
   

</body>

</html>
